In [1]:
# Import libraries
import pandas as pd

In [2]:
# Load the dirty data
df = pd.read_csv("International sale Report.csv")
df.head(10)

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
0,0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.00,616.56,617.00
1,1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.00,616.56,617.00
2,2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.00,616.56,617.00
3,3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.00,616.56,617.00
4,4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.00,616.56,617.00
5,5,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5025,MEN5025-KR-L,L,1.00,649.03,649.00
6,6,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5015,MEN5015-KR-XL,XL,1.00,616.56,617.00
7,7,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5022,MEN5022-KR-XXL,XXL,1.00,649.03,649.00
8,8,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5014,MEN5014-KR-S,S,1.00,649.03,649.00
9,9,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5013,MEN5013-KR-S,S,1.00,649.03,649.00

In [3]:
df.tail(10)

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
37422,37422,AVIN,03-31-22,Mar-22,SET374,SET374-KR-NP-XXL,1.00,650.00,650.00,14.00
37423,37423,AVIN,03-31-22,Mar-22,SET339,SET339-KR-NP-XXL,1.00,737.50,738.00,23.00
37424,37424,AVIN,03-31-22,Mar-22,SET375,SET375-KR-NP-XXL,1.00,737.50,738.00,60.00
37425,37425,AVIN,03-31-22,Mar-22,SET325,SET325-KR-NP-S,1.00,687.50,688.00,5.00
37426,37426,AVIN,03-31-22,Mar-22,SET276,SET276-KR-PP-L,1.00,1425.00,1425.00,59.00
37427,37427,AVIN,03-31-22,Mar-22,PJNE3423,PJNE3423-KR-4XL,1.00,537.50,538.00,4.00
37428,37428,AVIN,03-31-22,Mar-22,PJNE3404,PJNE3404-KR-4XL,1.00,500.00,500.00,5.00
37429,37429,AVIN,03-31-22,Mar-22,PJNE3423,PJNE3423-KR-4XL,1.00,537.50,538.00,4.00
37430,37430,AVIN,03-31-22,Mar-22,SET290,SET290-KR-DPT-M,1.00,812.50,812.00,7.00
37431,37431,AVIN,03-31-22,Mar-22,SHIPPING,SHIPPING,1.00,3666.00,3666.00,0.00

In [4]:
# Remove the external index
df.drop(columns = "index", axis = 1, inplace = True)

In [5]:
# Check the irregularity in the Date column
df["DATE"].value_counts()[:20]

DATE
MULBERRIES BOUTIQUE                   1904
09-14-21                               700
COTTON CLOSET LTD                      659
07-09-21                               657
03-03-22                               657
02-22-22                               648
VAHARSHA BOUTIQUE                      632
02-21-22                               564
02-05-22                               556
ETHNIC WEAVES FASHION LLC              556
RIVAAN LLC                             528
10-04-21                               488
GALAXY GROUP OF COMPANIES PVT. LTD     452
THILAS BOMBAY BOUTIQUE SDN BHD         436
BHANU SALEINE NAUNITHAM                433
FUSION FASHIONS CORP.                  423
THANA MARIMUTHU                        419
SHILPI KUMARI                          405
10-08-21                               404
ANJU BHARATI                           396
Name: count, dtype: int64

In [6]:
# Some company names are entering the date column
# Duplicate the column and isolate the company names

def remove_date(text):
    # check if the text is not a string
    if not isinstance(text, str):
        text = ""
    # check if there is a hyphen in the text 
    elif "-" in text:
        text = ""
    return text

df["Store Name"] = df["DATE"].apply(remove_date)
df["Store Name"].value_counts()

Store Name
                             18636
MULBERRIES BOUTIQUE           1904
COTTON CLOSET LTD              659
VAHARSHA BOUTIQUE              632
ETHNIC WEAVES FASHION LLC      556
                             ...
SET198                           1
J0162                            1
J0131                            1
JNE3718                          1
J0077                            1
Name: count, Length: 1165, dtype: int64

In [7]:
# Some names still have numbers in then and do not appear to be store names

def find_digit (text):
    # remove all the store names with numbers in them
    if any(char.isdigit() for char in text):
        text = ""
    return text

df["Store Name"] = df["Store Name"].apply(find_digit)

In [8]:
# Check the column for patterns causing error
df[df["Store Name"] != ""].head(30)

,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT,Store Name
18635,SKU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SKU
18660,Style,Stock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Style
19675,CUSTOMER,DATE,Months,Style,SKU,PCS,RATE,GROSS AMT,Stock,CUSTOMER
19676,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5004,MEN5004-KR-L,1.00,616.56,617.00,8.00,REVATHY LOGANATHAN
19677,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5004,MEN5004-KR-XL,1.00,616.56,617.00,4.00,REVATHY LOGANATHAN
19678,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5004,MEN5004-KR-XXL,1.00,616.56,617.00,6.00,REVATHY LOGANATHAN
19679,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5009,MEN5009-KR-L,1.00,616.56,617.00,6.00,REVATHY LOGANATHAN
19680,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5011,MEN5011-KR-L,1.00,616.56,617.00,11.00,REVATHY LOGANATHAN
19681,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5025,MEN5025-KR-L,1.00,649.03,649.00,6.00,REVATHY LOGANATHAN
19682,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5015,MEN5015-KR-XL,1.00,616.56,617.00,15.00,REVATHY LOGANATHAN
19683,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5022,MEN5022-KR-XXL,1.00,649.03,649.00,48.00,REVATHY LOGANATHAN
19684,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5014,MEN5014-KR-S,1.00,649.03,649.00,30.00,REVATHY LOGANATHAN
19685,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5013,MEN5013-KR-S,1.00,649.03,649.00,4.00,REVATHY LOGANATHAN
19686,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5013,MEN5013-KR-XXL,1.00,649.03,649.00,6.00,REVATHY LOGANATHAN
19687,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5003,MEN5003-KR-L,1.00,616.56,617.00,22.00,REVATHY LOGANATHAN
19688,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5003,MEN5003-KR-XXL,1.00,616.56,617.00,13.00,REVATHY LOGANATHAN
19689,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5028,MEN5028-KR-L,1.00,649.03,649.00,18.00,REVATHY LOGANATHAN
19690,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5028,MEN5028-KR-XXL,1.00,649.03,649.00,22.00,REVATHY LOGANATHAN
19691,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5006,MEN5006-KR-XL,1.00,649.03,649.00,27.00,REVATHY LOGANATHAN
19692,REVATHY LOGANATHAN,06-05-21,Jun-21,BL097,BL097-M,1.00,324.35,324.00,31.00,REVATHY LOGANATHAN
19693,REVATHY LOGANATHAN,06-05-21,Jun-21,BL104,BL104-M,1.00,421.85,422.00,4.00,REVATHY LOGANATHAN
19694,REVATHY LOGANATHAN,06-05-21,Jun-21,BL104,BL104-XL,1.00,421.85,422.00,5.00,REVATHY LOGANATHAN
19695,REVATHY LOGANATHAN,06-05-21,Jun-21,BL103,BL103-S,1.00,389.35,389.00,38.00,REVATHY LOGANATHAN
19696,REVATHY LOGANATHAN,06-05-21,Jun-21,SHIPPING,SHIPPING,1.00,2250.00,2250.00,0.00,REVATHY LOGANATHAN
19697,FARIA ESSOPP,06-08-21,Jun-21,J0001,J0001-DR-L,1.00,584.35,584.00,8.00,FARIA ESSOPP
19698,FARIA ESSOPP,06-08-21,Jun-21,JNE3660,JNE3660-TP-L,1.00,421.85,422.00,36.00,FARIA ESSOPP
19699,FARIA ESSOPP,06-08-21,Jun-21,JNE3647,JNE3647-TP-XL,1.00,421.85,422.00,3.00,FARIA ESSOPP
19700,FARIA ESSOPP,06-08-21,Jun-21,J0116,J0116-TP-XL,1.00,421.85,422.00,1.00,FARIA ESSOPP
19701,FARIA ESSOPP,06-08-21,Jun-21,J0165,J0165-TP-L,1.00,454.35,454.00,4.00,FARIA ESSOPP
19702,FARIA ESSOPP,06-08-21,Jun-21,JNE3656,JNE3656-TP-XL,1.00,454.35,454.00,3.00,FARIA ESSOPP

*The issue is that this data was joined with another (from row 19675). Upon joining the new data columns did not align properly with the old data columns. An additional data on SKU and Style was also added to the data sheet.*

In [9]:
# Explore the SKU and Style rows
df[18635:19675]

          DATE  Months CUSTOMER Style  SKU Size  PCS RATE GROSS AMT Store Name
18635      SKU     NaN      NaN   NaN  NaN  NaN  NaN  NaN       NaN        SKU
18636  JNE3826     NaN      NaN   NaN  NaN  NaN  NaN  NaN       NaN
18637  JNE3827     NaN      NaN   NaN  NaN  NaN  NaN  NaN       NaN
18638  JNE3828     NaN      NaN   NaN  NaN  NaN  NaN  NaN       NaN
18639  JNE3853     NaN      NaN   NaN  NaN  NaN  NaN  NaN       NaN
...        ...     ...      ...   ...  ...  ...  ...  ...       ...        ...
19670    J0419  313.00      NaN   NaN  NaN  NaN  NaN  NaN       NaN
19671  JNE3905  299.00      NaN   NaN  NaN  NaN  NaN  NaN       NaN
19672  JAN8623    0.00      NaN   NaN  NaN  NaN  NaN  NaN       NaN
19673    J0391  270.00      NaN   NaN  NaN  NaN  NaN  NaN       NaN
19674    J0390  240.00      NaN   NaN  NaN  NaN  NaN  NaN       NaN

[1040 rows x 10 columns]

*The SKU and Styles have a seperate guide for them and their stocks, remove them and store as a seperate dataset for more analysis.*

In [10]:
# Extract the SKU and Style
SKU_Style = df[18635:19675][["DATE","Months"]]

In [11]:
SKU_Style.rename(columns = {
    "DATE": "SKU",
    "MOnths": "Stock"
}, inplace = True)

In [12]:
# Remove them from the dataframe and reset index
df.drop(df.index[18635:19675], inplace = True)
df = df.reset_index(drop = True)

In [13]:
# Drop Store Name column 
df.drop(columns = "Store Name", axis = 1, inplace = True)

In [14]:
#Extract all the data from row 0 to 18635 (before the new rows were added)
original_df = df[:18635]
original_df.tail()

,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
18630,04-30-22,Apr-22,Rino Sandaran,J0280,NaN,S,1.00,1812.50,1812.50
18631,04-30-22,Apr-22,Rino Sandaran,SET350,NaN,M,1.00,1512.50,1512.50
18632,04-30-22,Apr-22,Rino Sandaran,SET350,NaN,L,1.00,1512.50,1512.50
18633,04-30-22,Apr-22,Rino Sandaran,J0242,NaN,XXXL,1.00,1312.50,1312.50
18634,04-30-22,Apr-22,Rino Sandaran,SET043,NaN,XXXL,1.00,1020.00,1020.00

In [15]:
# The new rows that were added
new_df = df[18635:]
new_df

,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
18635,CUSTOMER,DATE,Months,Style,SKU,PCS,RATE,GROSS AMT,Stock
18636,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5004,MEN5004-KR-L,1.00,616.56,617.00,8.00
18637,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5004,MEN5004-KR-XL,1.00,616.56,617.00,4.00
18638,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5004,MEN5004-KR-XXL,1.00,616.56,617.00,6.00
18639,REVATHY LOGANATHAN,06-05-21,Jun-21,MEN5009,MEN5009-KR-L,1.00,616.56,617.00,6.00
...,...,...,...,...,...,...,...,...,...
36387,AVIN,03-31-22,Mar-22,PJNE3423,PJNE3423-KR-4XL,1.00,537.50,538.00,4.00
36388,AVIN,03-31-22,Mar-22,PJNE3404,PJNE3404-KR-4XL,1.00,500.00,500.00,5.00
36389,AVIN,03-31-22,Mar-22,PJNE3423,PJNE3423-KR-4XL,1.00,537.50,538.00,4.00
36390,AVIN,03-31-22,Mar-22,SET290,SET290-KR-DPT-M,1.00,812.50,812.00,7.00
36391,AVIN,03-31-22,Mar-22,SHIPPING,SHIPPING,1.00,3666.00,3666.00,0.00

In [16]:
# Create a new dataframe with all the data from this new df and merge it with the one from the original df
corrected_df = pd.DataFrame()

corrected_df["DATE"] = new_df["Months"]
corrected_df["Months"] = new_df["CUSTOMER"]
corrected_df["CUSTOMER"] = new_df["DATE"]
corrected_df["Style"] = new_df["Style"]
corrected_df["SKU"] = new_df["SKU"]
corrected_df["Size"] = new_df["GROSS AMT"]
corrected_df["PCS"] = new_df["Size"]
corrected_df["RATE"] = new_df["PCS"]
corrected_df["GROSS AMT"] = new_df["RATE"]

corrected_df.head()

,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
18635,DATE,Months,CUSTOMER,Style,SKU,Stock,PCS,RATE,GROSS AMT
18636,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,8.00,1.00,616.56,617.00
18637,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,4.00,1.00,616.56,617.00
18638,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,6.00,1.00,616.56,617.00
18639,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,6.00,1.00,616.56,617.00

In [17]:
corrected_df.drop_duplicates().dropna().shape[0]

11173

In [18]:
original_df.head()

,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.00,616.56,617.00
1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.00,616.56,617.00
2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.00,616.56,617.00
3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.00,616.56,617.00
4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.00,616.56,617.00

In [19]:
original_df.drop_duplicates().dropna().shape[0]

10943

*Both datasets in the new and old columns have similar data, all the columns contain the same data except for the sizes and stock columns in the new corrected data. The data will be merged into one with the stock column aligned with its corresponding value in th original data*

*However, the original data isn't the same size as the ones in the corrected data.*

In [20]:
#Investigate what the corrected data has that the original data doesn't have
merged_df = corrected_df[["SKU","Size"]].merge(
    original_df,
    on = ["SKU"],
    how='outer',
    indicator=True
)

# Check for the values in corrected df and not in the original df
merged_df[merged_df['_merge'] == 'left_only'].isna().sum()

SKU            0
Size_x         0
DATE         522
Months       522
CUSTOMER     522
Style        522
Size_y       522
PCS          522
RATE         522
GROSS AMT    522
_merge         0
dtype: int64

In [21]:
# Check for the values only in original df and not in the corrected df
merged_df[merged_df['_merge'] == 'right_only'].isna().sum()

SKU          0
Size_x       0
DATE         0
Months       0
CUSTOMER     0
Style        0
Size_y       0
PCS          0
RATE         0
GROSS AMT    0
_merge       0
dtype: int64

*It is best I remove these objects found only in the corrected df*

In [22]:
# The full data without the data solely in the left only
no_left = merged_df[~(merged_df['_merge'] == 'left_only')]
no_left.isna().sum()

SKU          24089
Size_x           0
DATE             0
Months           0
CUSTOMER         0
Style            0
Size_y           0
PCS              0
RATE             0
GROSS AMT        0
_merge           0
dtype: int64

*These SKU need to be filled with data as removing them will lead to a significant loss in the data*

In [23]:
no_left["SKU"] = no_left["SKU"].fillna(no_left["Style"] + "-" + no_left["Size_y"]) 

# Remove duplicate values and sort by date, this is the useful merged data
merged_df = no_left.drop_duplicates().sort_values("DATE").reset_index(drop = True)

# Remove the _merged column
merged_df.drop(columns = "_merge", inplace = True)

C:\Users\OWNER\AppData\Local\Temp\ipykernel_2540\2858649541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_left["SKU"] = no_left["SKU"].fillna(no_left["Style"] + "-" + no_left["Size_y"])

In [24]:
# Explore the null values of the merged data
merged_df.isna().sum()

SKU          0
Size_x       0
DATE         0
Months       0
CUSTOMER     0
Style        0
Size_y       0
PCS          0
RATE         0
GROSS AMT    0
dtype: int64

In [25]:
# Rename columnns
merged_df.rename(columns = 
{
    "Size_x":"Stock", 
    "Size_y": "Size", 
    "DATE":"Date", 
    "CUSTOMER":"Customer", 
    "RATE":"Rate", 
    "GROSS AMT":"Gross Amt"
}, 
                 inplace = True)

In [26]:
# Final look
merged_df

,SKU,Stock,Date,Months,Customer,Style,Size,PCS,Rate,Gross Amt
0,JNE3668-TP-M,6.00,01-01-22,Jan-22,MAAVI FASHION,JNE3668,M,1.00,425.00,425.00
1,JNE3688-TU-S,4.00,01-01-22,Jan-22,MAAVI FASHION,JNE3688,S,1.00,500.00,500.00
2,JNE3688-TU-M,0.00,01-01-22,Jan-22,MAAVI FASHION,JNE3688,M,1.00,500.00,500.00
3,JNE3644-TP-L,0.00,01-01-22,Jan-22,MAAVI FASHION,JNE3644,L,1.00,388.00,388.00
4,JNE3644-TP-M,1.00,01-01-22,Jan-22,MAAVI FASHION,JNE3644,M,1.00,388.00,388.00
...,...,...,...,...,...,...,...,...,...,...
12317,J0136-KR-M,44.00,12-30-21,Dec-21,DANESHWARY RAMAR,J0136,M,1.00,500.00,500.00
12318,JNE3640-TP-XL,4.00,12-30-21,Dec-21,DANESHWARY RAMAR,JNE3640,XL,1.00,425.00,425.00
12319,SET252-KR-PP-M.,0.00,12-30-21,Dec-21,DANESHWARY RAMAR,SET252,M,1.00,843.00,843.00
12320,JNE3639-TP-XL,0.00,12-30-21,Dec-21,DANESHWARY RAMAR,JNE3639,XL,1.00,425.00,425.00
12321,J0139-KR-L,0.00,12-30-21,Dec-21,DANESHWARY RAMAR,J0139,L,1.00,563.00,563.00

In [27]:
# Save cleaned International Sales Report
merged_df.to_csv("International Sales Report (clean).csv")

In [28]:
# Save the SKU and Style guide
SKU_Style.to_csv("SKU & Style guide.csv")